@model GGM.Models.Model.Blog
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Blog Düzenle</h2>



<div class="form">
   

    @using (Html.BeginForm("Edit", "Blog", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        @Html.AntiForgeryToken();

        <div class="form-group ">
            <label for="cname" class="control-label col-lg-2">Başlık <span class="required">*</span></label>
            <div class="col-lg-10">
                <input class="form-control" id="Baslik" name="Baslik" minlength="5" type="text" required value="@Model.Baslik" />
            </div>
        </div>
        <div class="form-group ">
            <label for="cemail" class="control-label col-lg-2">Kategori<span class="required">*</span></label>
            <div class="col-lg-10">
                @Html.DropDownList("KategoriId", null, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group ">
            <label for="cemail" class="control-label col-lg-2">İçerik<span class="required">*</span></label>
            <div class="col-lg-10">
                <textarea name="Icerik" required class="ckeditor">@Model.Icerik</textarea>
            </div>
        </div>

        <div class="form-group ">
            <label for="curl" class="control-label col-lg-2">Önceki Resim </label>
            <div class="col-lg-10">
                <img src="@Model.ResimURL" width="150" height="150" />
            </div>
        </div>

        <div class="form-group ">
            <label for="curl" class="control-label col-lg-2">Resim </label>
            <div class="col-lg-10">
                <input type="file" class="form-control " name="ResimURL" accept=".jpg,.png,.jpeg" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button class="btn btn-primary" type="submit">Kaydet</button>
                <button class="btn btn-default" type="button"><a href="/Blog/Index">İptal</a></button>
            </div>
        </div>
    }

    
</div>