@model IEnumerable<GGM.Models.Model.Yorum>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<script>
$(document).ready(function () {
    $('#myTable').DataTable(
        {
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
            }
        });
});</script>


<table class="table table-bordered table-striped table-responsive-sm"id="myTable">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.AdSoyad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Eposta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Icerik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Onay)
        </th>
        <th>İşlemler</th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.AdSoyad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Eposta)
        </td>
        <td>
            @Html.Raw(item.Icerik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Onay)
        </td>
        <td>
            @Html.ActionLink("Güncelle", "Edit", new { id=item.YorumId },new {@class="btn btn-warning"}) |
           
            @Html.ActionLink("Sil", "Delete", new { id=item.YorumId },new {@class="btn btn-danger"})
        </td>
    </tr>
}

</table>
